$white: #ffffff;
$black: #333;
$darckGreen: #147A42;
$gray:#D8D8D8;
$Green:#1CAF5E;
$lime:#B8E986;
$devider: rgba(0, 0, 0, 0.07);

.facebook {
    background: linear-gradient(180deg, #39579A 0%, #2C4479 97.23%);

}

.twitter {
    background: linear-gradient(180deg, #059FF5 0%, #059FC3 100%), #059FF5;

}

.instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    // #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%
}

.linkedin {
    background: linear-gradient(180deg, #007EBB 0%, #007E9D 98.51%);

}

.youtube {
    background: linear-gradient(180deg, #CE1312 0%, #B01312 100%);
}

.snapchat {
    background: linear-gradient(180deg, #FFFE00 0%, #F3F200 96.43%);
}

.gPluss {
    background: linear-gradient(180deg, #F93F2D 0%, #C73F2D 100%);
}

.vine {
    background: linear-gradient(180deg, #00B687 0%, #008E87 100%);
}